// Colors
$primary: #007bff;
$secondary: #676778;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;
$back: #ffffff;
$text: #444;
$heading: #222;

// Screen Sizes
$screen-tablet1: 768px;
$screen-tablet2: 800px;

// Font Sizes
$font-size-sm: 0.875rem; // 14px
$font-size-md: 1rem; // 16px
$font-size-lg: 1.5rem; // 24px
$font-size-xl: 2rem; // 32px
$h4: 1.8rem;

// Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Font Families
$font-family-sans-serif: "Overpass",
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;
$font-family-serif: Georgia, serif;
$font-family-monospace: "Fira Mono", monospace;

// Spacing
$spacing-1: 0.25rem; // 4px
$spacing-2: 0.5rem; // 8px
$spacing-3: 1rem; // 16px
$spacing-4: 1.5rem; // 24px
$spacing-5: 3rem; // 48px

// Borders
$border-width: 1px;
$border-color: #ccc;

// Shadows
$box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);

// Heights
$nav-height: 6rem;
$total-height: 100%;
$top-height: 70vh;
$line-height1: 1.5;

// Nav
$nav-height: 60px;
$side-nav: 4.8rem;

// Sidebar
$sidebar-w: 30rem;
$sidebar-mid-w: 36rem;
$sidebar-large-w: 48rem;
$sidebar-text: rgba(255, 255, 255, 0.9);

// Viewport
$viewport-w: 100vw;
$viewport-h: 100vh;

$viewport-editor-h: 70vh;
$viewport-editor-max-h: 86vh;

$viewport-preview-min-h: 1vh;
$viewport-preview-h: 10vh;

$viewport-console-min-h: 1vh;
$viewport-console-h: 10vh;

// Logo
$logo-w: 30rem;