.console {
  position: relative;
  width: 100%;
  height: $viewport-console-h;
  min-height: $viewport-console-min-h;
  background: $back;
  flex: 1 1 0;
  overflow: auto;

  &__viewport {
    height: 100%;
  }
}