.logo {
  width: $logo-w;
  height: $nav-height;
  display: flex;
  align-items: center;
  text-indent: -9999px;
  background-position: calc($side-nav - 1rem) 50%;
  background-repeat: no-repeat;
  background-size: auto 70%;
  position: relative;
}