.console-inner {
  padding: 1rem 1.5rem;
  cursor: pointer;

  @media (min-width: $screen-tablet2) {
    cursor: default;
  }

  &__btn-group {
    display: flex;
    justify-content: space-between;

    &__clean {
      cursor: pointer;
    }
  }

  &__output {
    padding: 0 1.5rem;
  }
}