@import '../styles.scss';

.container {
  &__nav {
    --shadow-height: .5rem;
    // TODO: differernt from the original
    --shadow-gradient: linear-gradient(to bottom, rgba(239, 239, 239, 0.8) 0%, rgba(240, 231, 231, 0.118) 30%, transparent 100%);
    position: fixed;
    width: $viewport-w;
    height: $nav-height;
    margin: 0 auto;
    background-color: $back;
    font-family: $font-family-sans-serif;
    z-index: 100;
    user-select: none;
    transition: transform .2s;

    ::after {
      content: '';
      position: absolute;
      width: 100%;
      height: var(--shadow-height);
      left: 0;
      bottom: calc(-0.5 * var(--shadow-height));
      background: var(--shadow-gradient);
    }

    @include nav-screen($screen-tablet2);

    &__logo {
      @extend .logo;
    }

    &__external {
      @include external-screen($screen-tablet2);
    }
  }

  &__tutorial {
    padding: 0;
    position: relative;
    margin: 0 auto;
    padding: $nav-height 0 0 0;
    overflow: auto;

    &__outer {
      position: relative;
      height: calc($viewport-h - $nav-height);
      overflow: hidden;
      padding: 0 0 42px;
      box-sizing: border-box;

      &__viewport {
        @include viewport-screen($screen-tablet1);
      }
    }

    &__text {
      @extend .tutorial-text;
    }

    &__repl {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      overflow: auto;
    }

    &__editor {
      @extend .editor;
    }

    &__preview {
      @extend .preview;
    }

    &__console {
      @extend .console;
    }
  }
}